#Объявляем функцию контроля работы процесса angie
vrrp_track_process track_angie {
    process angie
    delay 1
}

#Конфигурация данного инстанса vrrp
vrrp_instance web {
    state {{ state }}
    interface "eth1" 
    virtual_router_id 254
    priority {{ priority }}
    advert_int 1

    virtual_ipaddress {
      {{ vip }} dev eth1    #VirtIP адрес на который клиенты посылают запросы
    }
    track_process {     #контроль состояния процесса angie
         track_angie
   }
}
