upstream wordpress-l7 {
  zone wordpress-l7 1M; #Объявляем зону разделяемой памяти
  least_conn; #Алгоритм балансировки на основе количества подключений к серверу
  {% for host in groups['backend'] %} 
  server {{ host }}:443 slow_start=5 max_conns={{ max_conns }}; #ввод в эксплуатацию в течение 5 секунд, ограничения количества активных подключений к серверу
  {% endfor %}
}

server {
    listen 443 ssl reuseport;
    http2 on;
    ssl_certificate /opt/ssl.crt;
    ssl_certificate_key /opt/ssl.key;
    status_zone wordpress-l7;
    access_log /var/log/angie/l7.access.log extended;
    error_log /var/log/angie/l7.error.log error;
    
    #limit_req zone={{ zone }} burst={{ zone_burst }};
    limit_req_log_level error;
    limit_req_status 444;

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_pass https://wordpress-l7;
    }
}